@import '~@angular/material/theming';
@import 'src/styles.scss';
@import '../main-container/main-container.component';

.user-header-info, .app-header, .size-like-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-header-info {
    color: white;
}

.size-like-body {
    justify-content: space-between;
    width: $default-width + 2 * $body-padding;
    min-width: $default-min-width;
}

.app-header {
    position: fixed;
    background-color: mat-color($primary);
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    justify-content: center;
    z-index: 10;
}

.header-item {
    margin: 0 5px;
}

.app-logo {
    position: relative;
}

.logo-container {
    display: flex;
    flex-direction: column;
}

.up {
    left: 0;
    transform: rotate(360deg);
    transition: left 1s ease-out, transform 1s ease-out;
}

.down {
    transform: rotate(180deg);
    transition: all 0.5s ease-in;
}


.down.is-animation-continue {
    transform: rotate(-360deg);
    transition-duration: 0s;
}

