<div class="app-header">
    <div class="logo-container header-item"
         (mouseover)="moveTheBall()"
         (mouseleave)="returnTheBall()">
        <img class="app-logo second"
             [ngClass]="{'down': isMouseOver, 'up': !isMouseOver, 'on-transition-end': isTransitionEnd}"
             (transitionend)="onTransitionEnd()"
             src="assets/soccer-ball.svg"
             width="24px"
             height="24px"/>
    </div>

    <div class="user-header-info header-item">
        <i class="material-icons">rowing</i>
        <span>MegaUser Number 1</span>
    </div>
</div>
