@import '~@angular/material/theming';
@import 'src/styles.scss';
@import "../../styles/styles.shared";

.user-header-info, .app-header, .size-like-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-header-info {
    color: white;
}

.size-like-body {
    justify-content: space-between;
    width: $default-width + 2 * $body-padding;
    height: 100%;
}

.app-header {
    position: fixed;
    background-color: mat-color($primary);
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    justify-content: center;
    z-index: 10;
}

.left-header-part {
    display: flex;
    flex-direction: row;
    height: 90%;
    align-items: center
}

.header-item {
    margin: 0 5px;
}

.app-logo {
    position: relative;
}

.logo-container {
    display: flex;
    flex-direction: column;
}

.divider {
    height: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    opacity: 0.2;
    margin-left: 47px;
}

.up {
    left: 0;
    transform: rotate(360deg);
    transition: left 1s cubic-bezier(.5, 0, .5, 1.5), transform 1s ease-out;
}

.down {
    transform: rotate(180deg);
    transition: all 0.5s ease-in;
}


.down.is-animation-continue {
    transform: rotate(-360deg);
    transition-duration: 0s;
}

