.events-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spinner {
    justify-content: center;
    align-items: center;

    .mat-progress-spinner {
        height: 400px;
        width: 400px;
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

.example-full-width {
    width: 100%;
}

app-event-item {
    margin-bottom: 20px;
}

.tmp-info {

}
