<md-card class="event-item">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>{{title}}</md-card-title>
        <md-card-subtitle>{{address}}</md-card-subtitle>
    </md-card-header>
    <img width="100px" height="100px" md-card-image src="assets/soccer-ball.svg" alt="Photo of a Shiba Inu">
    <md-card-content>
        {{description}}
    </md-card-content>
    <md-card-actions>
        <button md-raised-button>Пойти</button>
    </md-card-actions>
</md-card>
